<div class="media well">
  <img class="media-object pull-left img-rounded" width="120" height="120" src="{{ site.baseurl }}{{ contact.Image }}" alt="No Logo">
  <div class="media-body">
    <h3 class="media-heading">
      {{ contact.Name }}
      {% if contact.Position %}
        <small>{{ contact.Position }}</small>
      {% endif %}
    </h3>
    <p>
      {% if contact.Reasons %}
        Inquiry Type(s): <strong>{{ contact.Reasons }}</strong> <br/>
      {% endif %}
      {% if contact.Email %}
        Email: <strong> <a href="mailto:{{ contact.Email }}">{{ contact.Email }}</a></strong> <br/>
      {% endif %}
    </p>
  </div>
</div>
