<div class="container">
  <footer>
    <div class="row-fluid">
      <div class="span12">
        <a class="inline" href="https://twitter.com/missourimrdt" target="_blank"
           style="margin-right: 5px;">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a class="inline" href="https://www.facebook.com/missourimrdt" target="_blank"
           style="margin-right: 5px;">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a class="inline" href="https://www.youtube.com/user/missourimrdt" target="_blank"
           style="margin-right: 5px;">
          <i class="fa fa-youtube-play fa-2x"></i>
        </a>
        <a class="inline" href="https://github.com/MST-MRDT/" target="_blank"
           style="margin-right: 5px;">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Copyright &copy; Missouri S&amp;T Mars Rover Design Team 2015
        </div>
    </div>
  </footer>
</div>
