<div class="container" style="margin-bottom:25px">
  <div class="row">
    <div class=col-xs-12>
      <ul class="list-group list-inline">
        <li>
          <a class="" href="https://twitter.com/missourimrdt" target="_blank">
            <i class="fa fa-twitter fa-2x text-danger"></i>
          </a>
        </li>
        <li>
          <a class="" href="https://www.facebook.com/missourimrdt" target="_blank">
            <i class="fa fa-facebook fa-2x text-danger"></i>
          </a>
        </li>
        <li>
          <a class="" href="https://www.youtube.com/user/missourimrdt" target="_blank">
            <i class="fa fa-youtube-play fa-2x text-danger"></i>
          </a>
        </li>
        <li>
          <a class="" href="https://github.com/MST-MRDT/" target="_blank">
            <i class="fa fa-github fa-2x text-danger"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Copyright &copy; Missouri S&amp;T Mars Rover Design Team 2016
    </div>
  </div>
</div>
