<div class="media" style="margin-bottom:10px">
{% if leader.Image %}
  <div class="media-left">
    <a>
      <img class="media-object img-rounded" width="75" height="75"
	   src="{{ site.baseurl }}{{ leader.Image }}" alt="No Picture">
    </a>
  </div>
{% endif %}
  <div class="media-body">
    <h3 class="media-heading">
      {{ leader.Name}} <br class="visible-xs"/>
    {% if leader.Position %}  
      <small>{{ leader.Position }}</small>
    {% endif %}
    </h3>
  {% if leader.SubTeams %}
    Sub-teams: <strong>{{ leader.SubTeams }}</strong>
  {% endif %}
  </div>
{% if leader.Logo %}
  <div class="media-right">
    <i class="fa {{ leader.Logo }}"
       style="font-size:3em; color:rgba(0, 0, 0, 0.8); padding-top:5px"></i>
  </div>
{% endif %}
</div>
