<div class="modal fade" id="powerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
        </button>
        <h4 class="modal-title">Power</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>
		This team engineers the custom battery pack, battery management system, and power board.
		These systems help to manage and distribute power throughout the rover.
	    </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
