<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
        </button>
        <h4 class="modal-title">Donation Instructions</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Becoming a sponsor is very simple and can be accomplished in one of two ways:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4><span class="label label-default">1</span> Mail </h4>
            <p>
              Sending a check is as easy as making it out to Missouri S&amp;T with Mars Rover Design Team in the memo line.
              The checks can then be mailed to:<br>
              <address class="well">
                <strong>Attention: Alyssa McCarthy</strong><br>
                Student Design and Experiential Learning Center<br>
                Missouri University of Science &amp; Technology<br>
                1051 N. Bishop<br>
                116 Kummer Student Design Center<br>
                Rolla, Missouri 65409-1410
              </address>
            </p>
          </div>
          <div class="col-md-6">
            <h4><span class="label label-default">2</span> Online </h4>
            <p>
              To make a donation online, please visit: <br /> <br />
              <a href="https://givingtomst.missouri.edu/"
                 class="btn btn-success">
                givingtomst.missouri.edu
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
