<div class="modal fade" id="teleconModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
        </button>
        <h4 class="modal-title">Telemetry &amp; Controls</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>
		Telemetry &amp; Controls handles a majority of the electronics and software on the rover. 
		They are responsible for designating which radios, antennas, and cameras will be used as well as developing the base.
	    </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
