<nav class="navbar navbar-default navbar-fixed-top" id="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="padding: 10px">
        <img src="img/logo-small.png" width="40" height="40" alt="no logo">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#contact">Contacts</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs hidden-sm">
          <a href="https://twitter.com/missourimrdt" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="https://www.facebook.com/missourimrdt" target="_blank">
            <i class="fa fa-facebook fa-lg"></i>
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="https://www.youtube.com/user/missourimrdt" target="_blank">
            <i class="fa fa-youtube-play fa-lg"></i>
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="https://github.com/MST-MRDT/" target="_blank">
            <i class="fa fa-github fa-lg"></i>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Links <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li class="dropdown-header">Competition</li>
            <li><a href="http://www.marssociety.org">Mars Society</a></li>
            <li><a href="http://urc.marssociety.org/">University Rover Challenge</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Missouri S&amp;T</li>
            <li><a href="http://www.mst.edu">Home</a></li>
            <li><a href="http://design.mst.edu">SDELC</a></li>
            <li><a href="https://orgsync.com/66372/chapter">MRDT Orgsync</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
