<div class="media well">
  {% if sponsor.Logo %}
    <img class="media-object pull-left img-rounded" width="120" height="120" src="{{ site.baseurl }}{{ sponsor.Logo }}" alt="No Logo">
  {% endif %}
  <div class="media-body">
    <h3 class="media-heading">
      {{ sponsor.Name }}
    </h3>
    <p>
      {% if sponsor.Level %}
        Level: <strong>{{ sponsor.Level }}</strong> <br/>
      {% endif %}
      {% if sponsor.Level %}
        <a href="{{ sponsor.Website }}" target="_blank">Sponsor Website</a>
      {% endif %}
    </p>
  </div>
</div>
