<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Missouri S&amp;T Mars Rover Design Team" />
  <meta name="keywords" content="Mars Rover, Missouri S&amp;T, RoveSoHard" />
  <meta name="author" content="Missouri S&amp;T Mars Rover">

  <meta property="og:image" content="http://marsrover.mst.edu/img/logo_color.png" />
  <meta property="og:image:secure_url" content="https://marsrover.mst.edu/logo_color.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="1000" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="http://marsrover.mst.edu" />

  <title>{{ page.title }}</title>
  <link href="{{ site.baseurl }}/img/mrdt-favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar">
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
  <!-- JavaScript -->
  <script src="{{ site.baseurl }}/js/jquery-1.10.2.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>
</html>
